header {
    padding: 1em;
    display: flex;
    width: 100%;

    @media screen and (max-width: 768px) {
        padding: 0.5em;
        margin-bottom: 2em;
    }
    
    & .logo {
        font-size: 1.4em;
        line-height: 1.2;
        margin-right: 1em;

            @media screen and (max-width: 768px) {
                width: 50%;
                font-size: 1em;
        }
    }

    & .nav {
        display: flex;
        font-size: 1.4em;
        line-height: 1.2;

        @media screen and (max-width: 768px) {
            width: 50%;
            font-size: 1em;
            flex-direction: column;

        }

        & .nav-item {
            margin-right: 1em;
                @media screen and (max-width: 768px) {
                margin-right: 0;
                margin-bottom: 0.5em;
                
            }
        }
    }
}

/* NAVIGATION HEADER */


/* MAIN PAGE */

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    object-position: 50% 50%;
    display: block;

    @media screen and (max-width: 768px) {
        top: 25vh;
        bottom: 0em;
        min-height: auto;
        height: 75vh;
        object-position: 40% 50%;
    }

}

.main-page-header {
    width: 18em;

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

/* PORTFOLIO PAGE */

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    --gap: 1em;
    gap: var(--gap);

    @media screen and (max-width: 768px) {
        --gap: 0.3em;
    }

    & .projects-grid-item {
        --columns: 4;
        width: calc((100% - var(--gap) * (var(--columns) - 1)) / var(--columns));

        height: 33em;

        @media screen and (max-width: 768px) {
            --columns: 2;
            height: 18em;
        }

        &.L {
            --columns: 2;
            @media screen and (max-width: 768px) {
                --columns: 1;
            }
        }
        &.XL {
            --columns: 1;
        }
    }
}

a.project-promo-link {
    display: block;
    width: 100%;
    height: 100%;
    transition: filter 0.5s ease;
    border-bottom: 0;
    text-decoration: none;

    & h2 {
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 0.15em;
        text-decoration-color: rgba(255, 255, 255, 0.3);
        transition: text-decoration 0.5s ease;
        @media screen and (max-width: 768px) {
            font-size: 1.1em;
            }
    }

    &:hover {
        transition: filter 0s ease;
        filter: brightness(110%);

        & h2 {
            text-decoration-color: rgba(255, 255, 255, 0.7);
            transition: text-decoration 0s ease;
        }
    }
}

.project-promo {
    display: flex;
    align-items: flex-end;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 0.5em;
    padding: 0.5em 0.8em;
    background-color: rgba(0, 0, 0, 0.1);

    & h2 {
        color: white;

        font-size: 1.4em;
        width: 9.8em;
    }
}

.video-promo {
    display: flex;
    align-items: flex-end;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 0.5em;
    padding: 0.5em 0.8em;
    background-color: rgba(0, 0, 0, 0.1);

    & h2 {
        color: white;

        font-size: 1.4em;
        width: 20em;
    }
}

/* Project Page */

.project-page-wrapper {
    display: flex;

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }

    & .project-about {
        width: 35%;

        @media screen and (max-width: 768px) {
            width: 100%;
        }

        & .sticky-project-info {
            padding: 0em 2em 0.5em 0em;
            position: sticky;
            top: 1em;
            @media screen and (max-width: 768px) {
                padding: 0;
            }
        }
    }

    & .project-gallery {
        width: 65%;

        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
}

.main-page {
    display: flex;
    justify-content: space-between;
    
}

footer {
    position: relative;
    margin: 10em 1em 10em 1em;
    justify-content: space-between;
    display: flex;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        gap: 1.5em;
        margin: 7em 0;
    }
}

.main-page {
  footer{
    div{
      text-align: left;
    }
  }
}

.caption {
    font-size: 0.9em;
}

.main-page-nav {
    width: 12em;
}

.table {
    position: relative;
    overflow: scroll;
    font-size: 1em;
    border-bottom: 1px solid rgba(var(--ids__text-RGB), 0.15);

    thead {
      tr {
        th {
          text-align: left;
          padding-left: 0em;
          position: sticky;
          background: #ededed;
          top: 0;
        }
      }
    }
    tbody {
      tr {
        transition: background-color 0.25s ease;

        &:hover {
          background-color: #d4d4d4;
          transition: background-color 0.1s ease;
        }

        td {
          padding: 0.35em 0.5em 1.4em 0em;
          vertical-align: top;
        }
      }
    }
  }

.card
  {
    background-color:rgba(228, 246, 255, 1);
    border-radius: 1em;
    padding: 1.5em 1.5em 1em 1.5em;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);

  }